# Data Processing
pandas
polars
numpy

# Machine Learning
scikit-learn
xgboost
imblearn
shap

# API & Deployment
fastapi
uvicorn[standard]
python-multipart
joblib

# Testing & MLOps
pytest
mlflow

#additional 
seaborn

#GEN AI LIB
ollama

